// Importing Montserrat font from google to use.

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Using flexbox to create a horizontal row of itens centered.
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  height: 10vh;
  // Takes away list bullet points
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.menu li {
  width: 125px;
  height: 50px;
  // Adds linear gradient to hover animation
  transition: background-position-x 0.9s linear;
  text-align: center;

  a {
    font-size: 22px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
  }

  // Animation to change color on mouse hover with CSS
  &:hover a {
    color: #1058b7;
  }

  // Adds spacing to the right except for last menu item
  &:not(:last-child) {
    margin-right: 30px;
  }
}
  // Adds linear gradient to hover animation
@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
