body, html {
    margin: 0;
    background-color: #F8F8FF;
    box-sizing: border-box;
}

.image-gallery {
    display: grid;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 238px;
    grid-auto-flow: dense;
    /* Creates gaps between each image*/


    column-gap: 1em;
}

.image-gallery img {
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: -3px 5px 5px -2px rgba(0,0,0,0.25);
    -moz-boz-shadow: -3px 5px 5px -2px rgba(0,0,0,0.25);
    box-shadow: -3px 5px 5px -2px rgba(0,0,0,0.25);
}


#lightbox {
    /* Display always in the center of the screen  and on top layer.*/
    position: fixed;
    z-index: 5000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#lightbox img {
    max-width: 70%;
    max-height: 70%;
    padding: 2px;
    background-color: black;
    border: white solid 1px;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gallery img:hover {
    transform: scale(1.15);
}